<div class="customer-background">
  <header class="cf">
    <div class="wrapper_wide">
      <%= link_to "Market Finder", root_path, id: "logo" %>
        <nav>
          <ul>
            <% unless user_signed_in? %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "Merchant Sign In", new_user_session_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
            <% else %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path%></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Find a New Market</h1>
    <p>Looking for a new item to decorate your home with? Something tasty to much on? Find a new farmer's market vendor by searching below.</p>
    <a href="#" class="button button_highlight">Search by location</a>
<!--     <a href="" class="button button_white">Search by product</a> -->
    <a href="" class="button button_white">Search by vendor</a>
  </div>  
</div>