<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
     <%= link_to "Market Finder", root_path, id: "logo" %>
        <nav>
          <ul>
            <% unless user_signed_in? %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
            <% else %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path%></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover farmer's markets and follow your favorite vendors.</h1>
    <% unless user_signed_in? %>
      <%= link_to "Search by location", markets_path, class:"button button_merchant" %>
      <%= link_to "Search by vendors", vendors_path, class:"button button_white" %>
      <%= link_to "Create an account", welcome_vendor_landing_path, class: "button button_dark" %>
    <% else %>
      <%= link_to "Search by location", markets_path, class:"button button_merchant" %>
      <%= link_to "Search by vendors", vendors_path, class:"button button_white" %>
      <%= link_to "Create a new profile", new_vendor_path, class:"button button_dark" %>
     <% end %> 
  </div>  
</div>

