<div class="vendor-background">
  <header class="cf"> 
    <div class="wrapper_wide">
      <%= link_to "Market Finder", root_path, id: "logo" %>
        <nav>
          <ul>
            <% unless user_signed_in? %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "Merchant Sign In", new_user_session_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
            <% else %>
              <li><%= link_to "Explore", welcome_customer_landing_path %></li>
              <li><%= link_to "About", welcome_about_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path%></li>
            <% end %>
          </ul>
        </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Spread the word about your brand</h1>
    <p>Help your customers find you. Sign up so you can update your profile to share your story and to update the calendar to customers can find you.</p>
    <% unless user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class:"button button_highlight" %>
 <!--    <%= link_to "Existing Users", new_user_registration_path, class:"button button_highlight" %> -->
    
    <a href="" class="button button_white">Existing Users</a>
    <% end %>
  </div>  
</div>

