<div id="banner" class="vendors_banner">
</div>

<!-- <p id="notice"><%= notice %></p> -->



<div class="vendor_category">
  <div class="vendor_heading">
    <ul>
      <li class="vendor_link">
        <%= link_to "All", vendors_path %>
      </li>
      <% Product.all.each do |product| %>
      <li class="vendor_link">
        <%= link_to product.name, vendors_path(product: product.name) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="vendors cf">
   <div class="wrapper">
    <ul class="cf">
      <% @vendors.each do |vendor| %>
        <%= link_to vendor do %>
          <li>
          <%= image_tag vendor.display_image %>  
          <div class="vendor_overview">
            <h2><%= vendor.name %></h2>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
      <div class="pagination_spacing">
      <%= will_paginate @vendors, previous_label: "Previous", next_label: "Next" %>
      </div>
   </div>
 </div>





