<div class="vendor_listing"></div>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Email</th>
      <th>Website</th>
      <th>Facebook</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>Instagram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 
  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.description %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.website %></td>
        <td><%= vendor.facebook %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.twitter %></td>
        <td><%= vendor.instagram %></td>
        <td><%= link_to 'Show', vendor %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>







<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vendor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vendor.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @vendor.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @vendor.website %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @vendor.facebook %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @vendor.phone %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @vendor.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @vendor.instagram %>
</p>







<%#index page link %>
<div class="new_link">
<%#= link_to 'New Vendor', new_vendor_path %>
</div>