 <%#= render :partial => 'layouts/header'%>
<div id="banner" class="sign_in_banner">
<!--   <h1>Welcome back!</h1> -->
</div>

<div id="form">
  <div class="wrapper_skinny">
    <h3>Welcome back! Please sign in.</h3>


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%#= f.label :remember_me %>
        <%= f.email_field :email, autofocus: true, :placeholder => 'Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %><br /><br />
          <%= link_to "Forgot your password?", new_password_path(resource_name), class:"devise-links" %><br/>
          <%= link_to "Sign Up", new_user_registration_path, class:"devise-links" %><br />
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Sign in", class: "button button_block button_devise"%>
      </div>


    <% end %>


  </div>
</div>

