<%# vendor profile page%>
<div id="banner" class="vendors_banner">
</div>


<div class="vendors" class="cf">
   <div class="wrapper">
   

<p id="notice"><%= notice %></p>

<div class="cf">
<h2><%= @market.name %><h2>
</div>

<p>
  <strong>Market Address:</strong>
  <%= @market.address %>
</p>

<p>
  <strong>Market Zip:</strong>
  <%= @market.zip %>
</p>


<section class="vendors cf">
  <h4><%= @market.name %>'s Vendors</h4>
    <ul class="cf">
      <% if @market.vendors.empty? %>
        <h3><%= "We don't have any Vendors associated to this Market at this time" %></h3>
      <% else %>
        <% @market.vendors.each do |vendor| %>
          <%= link_to vendor do %>
            <li>
            <%= image_tag vendor.display_image %>  
            <div class="vendor_overview">
              <h2><%= vendor.name %></h2>
            </div>
          </li>
          <% end %>
        <% end %>
        <% end %>
    </ul> 
</section>
</div>

 </div>




  