<%# vendor profile page%>
<div id="banner" class="vendors_banner">
</div>


<div id="vendors" class="cf">
   <div class="wrapper">

<p id="notice"><%= notice %></p>

<div>
<h2><%= @market.name %><h2>
</div>

<p>
  <strong>Market Address:</strong>
  <%= @market.address %>
</p>

<p>
  <strong>Market Zip:</strong>
  <%= @market.zip %>
</p>

<section class='vendors'>
  <h4><%= @market.name %>'s Vendors</h4>
    <ul class="cf">
      <% @market.vendors.each do |vendor| %>
        <%= link_to vendor do %>
          <li>
          <%= image_tag vendor.display_image %>  
          <div class="vendor_overview">
            <h2><%= vendor.name %></h2>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul> 
</section>


 </div>



 