<!DOCTYPE html>
<html>
<head>
  <title>MarketFinder</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<%# Hide the whitespace device notices automatically create at top %>
<% if alert %>
  <p class="alert">
    <%= alert %>
  </p>
<% elsif notice %>
  <p class="notice">
    <%= notice %>
  </p>
<% end %>


    
<%= render :partial => 'layouts/header' unless controller_name == "welcome" && (action_name == "index" || "vendor_landing" || "customer_landing") %>

<%#= if @user.signed_in? render "layout/header"  %>




<%= yield %>

</body>
</html>






